*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

.htaccess
sitemap.xml
sitemap.xml.gz
searchreplacedb2.php
rrrreplace.php

# wordpress specific
/advanced-cache.php
/ai1wm-backups/
/backup-db/
/backups/
/blogs.dir/
/cache/*
/db.php
/languages/
/upgrade/*
/uploads/
/w3tc-config/
/wflogs/
/wp-cache-config.php

# pro plugins
/plugins/advanced-custom-fields-pro/*
/plugins/wp-migrate-db-pro/*

# wp core (as of 3.4.1)
/index.php
/themes/twentyten
/themes/index.php
/plugins/index.php

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
